* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Georama', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Gilroy'; 
  src: url('../src/assets/fonts/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'GrandHotel'; 
  src: url('../src/assets/fonts/GrandHotel-Regular.otf');
}
.header__nav-item_select {
  color: #70BF50 !important;
  text-decoration: solid underline #70bf50 5px !important;
}
.popUp__track__wallets_selectMetamask {border: 1px solid #FF8541 !important;}
.popUp__track__wallets_selectWallet {border: 1px solid #4E8AFF !important;}